


/* font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif; */
body{
  font-family: 'Roboto', sans-serif;
}
.bg-naranjo{
  background-color: #ffa64d;
}

.bebas{
  font-family: 'Bebas Neue', cursive;
}

header{
  background-image: url( '../img/bg-hero.png'); /*poner foto*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.pad{
  padding-bottom: 20em;
}

.iconos{
  display: inline-block;
}

.carousel-indicators li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
